---
Checks: >
    -*,
    cert-*,
    bugprone-*,
    modernize-*,
    performance-*,
    llvm-*,
    -llvmlibc-restrict-system-libc-headers,
    -bugprone-easily-swappable-parameters
WarningsAsErrors: true
HeaderFilterRegex: ''
